@model PD_Medicine.ViewModels.Appointments.AppointmentsListVM


<h2>Appointments</h2>

<p>
    @Html.ActionLink("Create new Appointment", "Edit", new {})
</p>


<table class="table table-hover sortable">
    <tr>
        <td>User</td>
        <td>Doctor</td>
        <td>Symptoms</td>
        <td>Date and Hour</td>
        <td>Status</td>
        <td>Action</td>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.Username
            </td>
            <td>
                @item.DoctorId
            <td>
                @item.Symptoms
            </td>
            <td>
                @item.DateHour
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

@*<div>
    @Html.Partial("_PagingPartial", Model.Pager)
</div>*@