@using DataAccess.Entity;

@model IEnumerable<DataAccess.Repository.AppointmentsRepository>

@{
    ViewBag.Title = "Appointments Manager";
}

<h2>Appointments Manager</h2>
<hr />
<h3>Confirm appointments</h3>
<p>
    @Html.ActionLink("Add New Appointment", "EditAppointment", "AppointmentsManager", new {@class = "btn btn btn-success" })
</p>
<table class="table table-striped">
    <tr>
        <td>User</td>
        <td>Doctor</td>
        <td>Symptoms</td>
        <td>Date and Hour</td>
        <td>Status</td>
        <td>Action</td>
    </tr>
    @foreach (var item in (IEnumerable<AppointmentEntity>)ViewData["appointments"])
    {
        var edit = "/AppointmentsManager/EditAppointment?id=" + item.Id;
        var delete = "/AppointmentsManager/DeleteAppointment?id=" + item.Id;
        if (item.Status == true)
        {
        <tr>
            <td>
                @item.Username
            </td>
            <td>
                @item.DoctorUsername
            </td>
            <td>
                @item.Symptoms
            </td>
            <td>
                @item.DateHour
            </td>
            <td>
                @item.Status
            </td>
            <td>
                <a href="@edit" class="btn btn-success">Edit</a> |
                <a href="@delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    }

</table>

<h3>Pending or Rejected appointments</h3>

<table class="table table-striped">
    <tr>
        <td>User</td>
        <td>Doctor</td>
        <td>Symptoms</td>
        <td>Date and Hour</td>
        <td>Status</td>
        <td>Action</td>
    </tr>
    @foreach (var item in (IEnumerable<AppointmentEntity>)ViewData["appointments"])
    {
        var edit = "/AppointmentsManager/EditAppointment?id=" + item.Id;
        var delete = "/AppointmentsManager/DeleteAppointment?id=" + item.Id;
        if (item.Status == false)
        {
            <tr>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.DoctorUsername
                </td>
                <td>
                    @item.Symptoms
                </td>
                <td>
                    @item.DateHour
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a href="@edit" class="btn btn-success">Edit</a> |
                    <a href="@delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    }

</table>