@model PD_Medicine.ViewModels.Doctors.DoctorsListVM

<h2>Doctors</h2>

<p>
    @Html.ActionLink("Create New Doctor", "Edit", "DoctorsManager", new { @class = "btn btn btn-success" })
</p>


<table class="table table-hover sortable">
    <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Full Name</td>
        <td>Doctor Type</td>
        <td>Description</td>
        <td>Address</td>
        <td>Phone</td>
        <td>Action</td>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Username
            </td>
            <td>
                @item.FirstName @item.LastName
            </td>
            <td>
                @item.DoctorType
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

<div>
        @Html.Partial("_PagingPartial", Model.Pager)
    </div>